/*.ul-menu li.ui-menu-item.ui-state-active{border-color: #ff8d00 !important; background: #FF9800 !important;}*/
.productPopupGallerySlider .galleryThumbSlide img{ padding: 3px;  border: 2px solid rgba(0, 0, 0, 0);    }
.productPopupGallerySlider .galleryThumbSlide.slick-current img{         border-color: #ee6e12;    opacity: 1;}
.bannerLeftWrap a.bannerLink{position:absolute;left:0;top:0;width:100%;height:100%;}
.newsLetterContainer .newsImage a{width:100%;}
.mapAddressContainer .figerWrap{overflow:hidden;}
.productPopupDetails > p{line-height:17px;margin-top:9px;margin-bottom:2px;font-size:13px;}
.mapAccordienContainer .accordion > li:first-child .accordien-Content{display:block;}
div.fancy-select ul.options{overflow-x:hidden;}
.normalproductPopupWrapper .popUpproductsSliderTop .gallerySlide{text-align:center;}
.normalproductPopupWrapper .popUpproductsSliderTop .gallerySlide > a{min-width:100%;}
.normalproductPopupWrapper .popUpproductsSliderTop .gallerySlide a > img{height:345px;max-height:52vh;width:auto;max-width:100%;min-height:100px;margin:0 auto;display:inline-block;}
.pagination>li>a, .pagination>li>span{padding:6px 7px;}
#sitemap{padding:0;margin:25px -15px;}
#sitemap > li{list-style:none;font-size:16px;line-height:27px;}
#sitemap > li li{font-size:15px;line-height:22px;}
.errorPageImagWrap{text-align:center;padding-top:100px;}
.errorPageImagWrap img{max-width:100%;}
.normalproductPopupWrapper .popUpproductsSliderTop .gallerySlide a.zoom > img{min-width:100%;min-height:100%;}
.webDesignBy{opacity:0.7;color:#b3afaf;}
.webDesignBy a, .webDesignBy a:hover, .webDesignBy a:focus, .webDesignBy a:active{color:#b3afaf;}
.webDesignBy a:hover{color:#bdbdbd;}
.productGallerySliderWrapper .productsSliderBottom .galleryThumbSlide, .popUpproductsSliderBottom .galleryThumbSlide{cursor:pointer;}
.pagination>li>a, .pagination>li>span{color:#ee6e12;}
.footerMobileSearch{display:none;text-align:center;margin-bottom:7px;}
.footerMobileSearch .footerSearchForm{display:inline-block;position:relative;width:100%;border:1px solid #e4e4e4;}
.footerMobileSearch .footerSearchForm::after{display:table;clear:both;content:'';}
.footerMobileSearch .sb-search-input, .footerMobileSearch .sb-search-submit{float:left;border:none;border-radius:0;-webkit-appearance:none;}
.footerMobileSearch .sb-search-input{width:100%;padding:4px 10px;height:30px;color:black;padding-right:50px;}
.footerMobileSearch .sb-search-submit{top:-1px;height:32px;width:35px;border:none;background:#ee6e12 url('../images/search-button.png') center center no-repeat;position:absolute;right:0;}
.footerMobileSearch #searchButtonBottom{font-size:28px;position:absolute;right:5px;z-index:-2;}
.fancybox-nav span{visibility:visible;}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover, .pagination>.active>span:hover{color:#ee6e12;}
.popUpproductsSliderTop .slick-arrow{cursor:pointer;position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);color:#ee6e12;display:inline-block;font-size:40px;z-index:2;background:rgba(255, 255, 255, 0.12);height:45px;opacity:0;transition:all 0.3s ease-in-out;}
.popUpproductsSliderTop:hover .slick-arrow{opacity:1;}
.popUpproductsSliderTop .slick-arrow.icon-icons-previous{left:-4px;}
.popUpproductsSliderTop .slick-arrow.icon-icons-next{right:-4px;}
.mobileSearchBtn{display:none;}
.mobile .slick-slider {
    -webkit-touch-callout: inherit;
    -webkit-user-select: inherit;
       -moz-user-select: inherit;
        -ms-user-select: inherit;
            user-select: inherit;
    -ms-touch-action: inherit;
        touch-action: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ui-autocomplete {max-height: auto; max-height:300px;	overflow-y: auto;overflow-x: hidden;}
 html .ui-autocomplete {max-height: auto; max-height:300px;}
.touch .ui-menu-item:focus {
    border: 1px solid #f47920;
    background: #f47920;
    font-weight: normal;
    color: #fff;
}

@media only screen and (min-width:1200px){div.fancy-select ul.options li{padding-right:2px;white-space:normal;font-size:13px;}
.productsSliderTop{height:340px;overflow:hidden;}
.productsSliderTop::before{content:'';position:absolute;left:0;width:100%;height:100%;top:0;z-index:-1;background:#fafafa url('../images/fancybox_loading.gif') center center no-repeat;min-height:330px;}
.productsSliderTop.slick-initialized{height:auto;overflow:visible;}
.productsSliderTop.slick-initialized .gallerySlide{visibility:visible;}
#sitemap > li > ul{max-width:600px;margin-bottom:15px;}
html.safari .normalproductPopupWrapper .productPopupDetails>.row:first-child{display:block;}
html.safari .normalproductPopupWrapper .productPopupDetails .enquireBtnWrp{height:50px;}
.productGallerySliderWrapper{min-height:300px;}
.navbar-brand{min-height:94px;}
}
@media only screen and (min-width : 960px)  {
	html.touch .normalproductPopupWrapper .productPopupDetails .enquireBtnWrp .gotoEnquiryForm{position: relative;margin-top: 10px;}
}
@media only screen and (max-width:980px){
    .SearchPage .productSortSection > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .SearchPage .productSortSection > div .filterWrap{
        width: 100%;
    }
    .SearchPage .productSortSection > div .productTexturesWrap {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:768px){.normalproductPopupWrapper .popUpproductsSliderTop .gallerySlide a.zoom > img{min-height:50px;}
.downloadCatelogPopup .popup-frame{max-width:100%;}
.footerMobileSearch{display:block;width:100%;z-index:98;padding:5px 10px;transition:all 0.3s ease-in-out;margin-bottom:0;}
.mobileSearchBtn{position:absolute;right:20px;top:76px;z-index:1;display:inline-block;font-size:35px;border:1px solid #a0a0a0;height:41px;cursor:pointer;background:rgba(255, 255, 255, 0.7);}
.mobileSearchActive .footerMobileSearch{top:0;}
.footerMobileSearch .container{padding:0 10px;}
.mobileSearchActive .mobileSearchBtn, .mobileSearchBtn:hover{color:#ee6e12;border:1px solid #ee6e12;}
}
@media only screen and (max-width:600px){.normalproductPopupWrapper .popUpproductsSliderTop .gallerySlide a > img{height:155px;max-height:30vh;min-height:100px;}
.productEnquiryPopUp .mobile_complay .company_feild{display:none;}
.productEnquiryPopUp .phone_PO_box{display:none;}
.productEnquiryPopUp .fax_city{display:none;}
.popupFrame .enquiryFormWrap textarea.enquirybox{height:70px;}
.productEnquiryPopUp .gobackProductPopupWrap{margin-top:-41px;}
.downloadCatelogPopup .sendbtnWrap{margin-top:10px;}
.downloadCatelogPopup .feildControl{margin-bottom:13px;}
}